body {
    background-color: #ffffff   ;
    color: #222222;
    display: block;
    /* padding: 0;
    margin: 0; */
  }

#app .content {
    padding: 20px 1.5rem 1.5rem;
    max-width: 740px;
    margin: 0 auto;
}

#app p {
    padding-top: 6px;
}
 
#app .content p a{
    color: #00e;
}

/* NAVBAR */
.navbar a{
    text-decoration: none;
    color: #222222;
}

.navbar ul { 
    float: right;
    display: inline block;
    list-style: none;
 }

.navbar ul li a{ 
    padding: 25px;
 }

.navbar .site-name {
    font-size: 36px;
 }

