body {
    background-color: #ffffff   ;
    color: #222222;
    display: block;
    /* padding: 0;
    margin: 0; */
  }

#app .content {
    padding: 20px 1.5rem 1.5rem;
    max-width: 740px;
    margin: 0 auto;
}

/* NAVBAR */

.navbar a{
    text-decoration: none;
    color: #222222;
}

.navbar ul { 
    float: right;
    display: inline block;
    list-style: none;
 }

.navbar ul li a{ 
    padding: 25px;
 }

.navbar .site-name {
    font-size: 36px;
 }

 /* HOME  */

 #app p {
    padding-top: 4px;
}
 
#app .content p a{
    color: #00e;
    padding-bottom: 1px;
    display: block
}


 /* BLOG */
.blog {
    list-style: none;
    padding: 0px;
}

.blog a {
    display: block;
    padding-top: 12px;
}

/* COMPENDIUM */
.compendium {
    padding: 0px;
    list-style: none;
}

.compendium a {
    display: block;
    padding-top: 12px;
}

.sub-topic {
    list-style: none;
}

/* BOOKS */
.container {
    padding-top: 10px;
}

.container p{
    padding-left: 100px;
    margin: 0px;
}

.container h3{
    margin: 0px;
    padding-left: 100px;
}